.hablu-logo{
	width: 90px;
	padding-left: 30px;
}

.main-summary p{
	font-size: 1.1em;
}
.jumbotron section {
	margin-bottom: 30px;
}
.jumbotron section p{
	font-size: 1.3em;
}

/*hablu feedback style*/
.hablu-feedback textarea{
	font-size: 2.5em;
}

.hablu-feedback input{
	font-size: 1.25em;
}