.navbar-nav>li:hover{
	background-color: rgba(241, 150, 33, 0.2)
}


.hablu-logo{
	width: 90px;
	padding-left: 30px;
}

.main-summary p{
	font-size: 1.1em;
}
.jumbotron section {
	margin-bottom: 30px;
}
.jumbotron section p{
	font-size: 1.3em;
}

/*hablu feedback style*/
.hablu-feedback textarea{
	font-size: 1.5em;
}

.hablu-feedback input{
	font-size: 1.25em;
}

/*chapter specific style*/
.chapter-title span{
	font-size: 0.6em;
	font-weight: 700;
}
.chapter-title-main{
	color: #00B6E0;
}
.chapter-title-rest{
	color: #F19621;
}

.chapter-one-line{
	text-align: center;
	background-color: rgba(0, 182, 224, 0.2);
	border-radius: 10px;
	margin-top: 10px;
}

.chapter-one-line p{
	font-weight: 700;
	padding-top: 5px;
}

.chapter-link-text p{
	font-size: 16px;
}

.chapter-nije-nije{
	width: 160px;
	background-color:  rgba(138, 43, 226, 0.2);
	padding: 5px 10px 0px 10px;
}

.chapter-nije-nije p{
	font-weight: 700;
	margin-bottom: 0px;
}

.question-collection{
	margin-top: 30px;
}
.question-holder{
	border-radius: 10px;
	border:3px solid  rgba(138, 43, 226, 0.2);
	padding: 10px 25px 1px 25px;
}

.question-number{
	font-weight: 700;
	font-size: 21px;
}

.other-chapters ul{
	list-style: none;
	font-size: 21px;
	padding: 20px;
}

/*comment text*/
.form-inline .form-group input {
    width:400px;
}
#latestComments{
	margin-left: -40px;
}

.comment-submit button{
	margin-top: 10px;
}
.comment-holder{
	margin-bottom: 15px;
}
.comment-holder p{
	margin-bottom: 0px;
	line-height: 12px;	
}
.comment-name{
	font-size: 14px;
	font-weight: 700;
}
.comment-time{
	font-size: 10px;
	padding-left: 30px;
}
.comment-text{
	font-size: 12px;
}


.box3 {
    margin: 20px 0;
}
.quote img {height: 65px; width: 126px;}
.bluequote img {height: 65px; width: 135px;}
.box3 .inner3 {
    float: left;
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 0px #e5dede, 2px -2px 10px #e5dede;
    padding: 10px 0;
}
.box3 h1 {
	font-family: 'SiyamRupali', sans-serif;
    text-align: center;
    color: #527ea5;
    font-size: 25px;
    border-bottom: 2px solid #e5dede;
    background-color: #f4f4f4;
    line-height: 50px;
    margin-top: 10px;
    padding-top: 5px;
    font-weight: bold;
}
.box3 p {
    font-size: 17px;
    color: #535252;
}